
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


@font-face {
    font-family: ‘MyWebFont’;
    src: url(‘webfont.eot’); 
    src: url(‘webfont.eot?#iefix’) format(‘embedded-opentype’),
        url(‘webfont.svg#svgFontName’) format(‘svg’),
        url(‘webfont.woff’) format(‘woff’),
        url(‘webfont.ttf’)  format(‘truetype’);
    }

html{
    width: 100%;
    padding: 0%;
    height: 100;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: #E2E7F3;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.landing-page{
    margin: 0%;
    width: 100;
    height: 780px;
    background-image: linear-gradient(to bottom right, #a0a9ff, #48d1ff);
}




.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 40px solid #f7e825;
    position: absolute;
    z-index: 5;
    margin-left: 5%;
    margin-top: 430px;
}
.triangle-in {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid #9fa9ff;
    position: absolute;
    z-index: 6;
    margin-left: 90px;
    margin-top: 447px;
}

.box-out{
    border: 1px solid #e478d7;
    height: 20px;
    width: 20px;
    margin-top: 700px;
    margin-left: 500px;
    background-color: #e478d7;
    position: absolute;
    z-index: 6;
}
.box-in{
    height: 70%;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background-color: #70afff;
}

.box-out-a{
    border: 1px solid #e478d7;
    height: 20px;
    width: 20px;
    margin-top: 500px;
    margin-left: 600px;
    background-color: #e478d7;
    position: absolute;
    border-radius: 15px;
    z-index: 6;
}
.box-in-a{
    height: 70%;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background-color: #70afff;
    
    border-radius: 15px;
}

.box-out-b{
    border: 1px solid #90afff;
    height: 20px;
    width: 20px;
    margin-top: 400px;
    margin-left: 700px;
    background-color: #90afff;
    position: absolute;
    z-index: 6;
}

.box-out-c{
    border: 1px solid #f3c2c6;
    height: 40px;
    width: 40px;
    margin-top: 500px;
    margin-left: 1300px;
    background-color: #f3c2c6;
    position: absolute;
    border-radius: 25px;
    z-index: 6;
}
.box-in-c{
    height: 70%;
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
    background-color: #4eceff;
    
    border-radius: 15px;
}

.circle-a{
    border: 1px solid #9eaaff;
    height: 800px;
    width: 800px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 50%;
    background-color: #9eaaff;
    position: absolute;
}
.circle-b{
    border: 1px solid  #6ed0fa;
    height: 550px;
    width: 550px;
    margin-top: 400px;
    margin-left: 1150px;
    border-radius: 50%;
    background-color: #6ed0fa;
    position: absolute;
    z-index: 1;
}
.icon-a{
    border: 1px solid transparent;
    background-color: transparent;
    height: 100px;
    width: 100px;
    margin-top: 380px;
    margin-left: 800px;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;

}
.image-a{
    height: 115px;
    width: 115px;
}

.icon-b{
    border: 1px solid #f5f8ff;
    background-color: #f5f8ff;
    height: 300px;
    width: 300px;
    margin-top: 180px;
    margin-left: 800px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;

}
.image-b{
    height: 315px;
    width: 315px;
}

.image-home{
    height: 20px;
    width: 20px;
    float: left;
    position: absolute;
    z-index: 5;
    margin-top: 20px;
}
.nav{
    border: 1px solid transparent;
    width: 80%;
    margin-left: 10%;
    height: 8%;
    align-content: center;
    z-index: 3;
}
.home-text{
    margin-left: 21px;
}
a{
    margin-top: 20px;
    color: white;
    float: left;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    z-index: 3;
}
.space-a{
    border: 1px solid transparent;
    width: 78%;
    float: left;
    }
.space-b{
    border: 1px solid transparent;
    width: 5px;
    float: left;
}

h1{
    color: white;  
    font-size: 40px; 
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 3;
}
.landing-title{
    margin-left: 10%;
    margin-top: 150px;
}
.sub-text{
    color: white; 
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: larger;
    margin-top: -18px;
    z-index: 3;
}
.landing-form-a{
    border: 1px solid black;
    background-color: white;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 0%;
    position: relative;
    z-index: 3;
}
.landing-form-b{
    border: 1px solid black;
    background-color: white;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 10px;
    padding: 0%;
    position: relative;
    z-index: 3;
}
.landing-form-label-a{
    font-weight: bold;
    color: #a0a9ff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 7px;
}
.landing-form-label-b{
    font-weight: bold;
    color:#a0a9ff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 7px;
}
.landing-form-form{
    
    position: relative;
    z-index: 3;
}
.landing-form-input-a{
    float: left;
    height: 30px;
    width: 75%;
    color: #a0a9ff;
    font-size: 15px;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 22px;
}
input[type='text'] { font-size: 14px; }
input[type='submit'] { font-size: 14px; font-weight: 200; }
.landing-form-input-b{
    float: left;
    height: 30px;
    width: 75%;
    color: #a0a9ff;
    font-size: 12px;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 5px;
}
input.landing-form-input-a:focus {
    outline-width: 0;
    background-color: white;
}
input.landing-form-input-b:focus {
    outline-width: 0;
    background-color: white;
}
.landing-form-submit{
    height: 33px;
    margin-left: 13%;
    margin-top: 5px;
    width: 230px;
    border-radius: 5px;
    border-color: #a0a9ff;
    color: #a0a9ff;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.landing-form-submit:hover{
    background-image: linear-gradient(to bottom right, #a0a9ff, #48d1ff); 
    color: white;
}
/* Calculator page */
.calculator-page{
    margin: 0%;
    width: 100;
    height: 780px;
    position: relative;
    z-index: 6;
    background-color: white;
    padding-top: 50px;
}

.calc-card{
    border: 1px solid white;
    width: 20%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
    float: left;
}
.table-card{
    border: 1px solid white;
    width: 40%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
    float: left;
    margin-top: 30px;
    
    overflow-y: scroll;
}
.results-card{
    border: 1px solid transparent;
    width: 60%;
    height: 300px;
    margin-left: 5%;
    float: left;
}
.graph-card{
    border: 1px solid white;
    width: 40%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
    float: left;
    margin-top: 30px;
}

.axis{
    height: 85%;
    width: 90%;
    border-bottom: 1px solid #a0a9ff;
    margin-left: 5%;
    margin-top: 2%;
}
.plottb{
    height: 100%;
    padding: 0%;
    background-color: white;
}
.rowplot{
    border: 1px solid black;
    background-color: white;
}
.plotter{
    height: 10px;
    width: 10px;
    background-image: linear-gradient(to bottom right, #a0a9ff, #48d1ff); 
    border-radius: 5px;
    z-index: 7;
    margin-left: 50%;
    
}
.xvals{
    width: 100%;
    height: 20px;
    border-color: black;
    padding: 0%;
    margin-top: -18px;
}

.plottertb{
    border: 1px solid white;
    padding: 0%;
    padding-top: 0%;
    vertical-align: bottom;
    background-color: white;
}
.bottom{
    border: 1px solid #a0a9ff;
    width: 0.3%;
    margin-left: 52.5%;
    margin-top: 0;
    background-color: #a0a9ff;
}
.column{
    width: 1px;
    height: 20%;
    border: 1px solid #a0a9ff;
    background-color: #a0a9ff;
    position: relative;
    float: left;
    margin-left: -7px;
    z-index: 1;
}
.xval{
    float: left;
    margin-left: -2%;
}
.xcont{
    margin-left: 5%;
    width: 90%;
    height: 20px;
    border: 1px solid transparent;
}
.table-dist{
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
.tdxvals{
    background-color: transparent;
    vertical-align: top;
    padding-top: 0%;
    padding: 0%;
}
/* table */

.output-page{
    margin: 0%;
    width: 100;
    height: fit-content;
    background-color: white;
    position: relative;
    z-index: 2;
    padding-top: 2.5%;
    padding-bottom: 8%;
}

table{
    width: 100%;
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    
}

td:first-child, th:first-child {
    border-left: none;
}
tr{
    height: 20px;
    border: 1px solid#283551;
    
    border-radius: 15px;
}
.first-c{
    border: 1px solid transparent;
    background-image: linear-gradient(to bottom right, #a0a9ff, #48d1ff);
    
    border-bottom-color: #283551;
    padding-top: 10px;
}
th{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0%;
    margin-right: 0%;
}

th:first-child{
    
    border-top-left-radius: 15px;
}
th:nth-child(5){
    
    border-top-right-radius: 15px;
}
td{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
tr:first-child:hover{
    background-color: #283551;
    color: black;

}
tr:hover{
    background-color: #283551cc;
    color: white;

}
tr:last-child:hover{
    background-color: transparent;
    color: black;

}
tr:last-child{
    border-color: transparent;
}
/*  */

.info-mean{
    border: 1px solid white;
    background-color: white;
    height: 100%;
    width: 30%;
    float: left;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    font-family: 'Raleway', sans-serif;
}
.info-variance{
    border: 1px solid white;
    background-color: white;
    height: 100%;
    width: 30%;
    border-radius: 15px;
    
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    font-family: 'Raleway', sans-serif;
}
.info-sd{
    border: 1px solid white;
    background-color: white;
    height: 100%;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
}

.info-left{
    width: 100%;
    float: left;
    padding-left: 5%;
}
.info-right{
    width: 50%;
    float: left;

}

.distribution{
    width: 100%;
    background-image: linear-gradient(to bottom right, #a0a9ff, #48d1ff);
    padding-top: 80px;
    padding-bottom: 80px;
}
h2{
    text-align: center;
    
}
.info-ttl{
    font-size:medium;
    text-align: center;
}
.info-dscr{
    border: 1px solid  transparent;
    background-image: linear-gradient(to bottom right, #a0a9ff, #48d1ff);
    
    padding: 5px;
    color: white;
    width: fit-content;
    border-radius: 10px;
}
.ans{
    font-size: 20px;
}
.warn{
    position: absolute;
    z-index: 5;
    margin-top: 40px;
    margin-left: 10%;
    color: red;
}

.warn-b{
    position: absolute;
    z-index: 5;
    margin-left: 10%;
    color: red;
    margin-top: 5px;
}
.ins{
    margin-top: 40px;
    margin-left: 10%;
}

.about-a{
    height: 500px;
    background-color: white;
}

.contributor{
    float: left;
    border: 1px solid transparent;
    height: 350px;
    width: 20%;
    margin-left: 20%;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 10px;
    padding-top: 18px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
}

.prof{
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

.prof-name{
    font-size: 25px;
    font-weight: 100;
}
.icon-aa{
    height: 23px;
    width: 23px;
    position: absolute;
    margin-left: -110px;
}
.icon-bb{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -110px;

}
.icon-cc{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -110px;

}

.footer{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom right, #a0a9ff, #48d1ff);
    text-align: center;
    color: white;
    margin-top: -15px;
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
}